<div class="container">
  <h1>Welcome to SendEmail!</h1>

  <p>
    SendEmail is a really easy way to send emails from your email without even logging in!
  </p>
  <p>
    To get started, just <%= link_to 'log in', new_user_session_path %>!
  </p>
</div>
